/*css reset*/
html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, 
a, img,dl, dt, dd, ol, ul, li,
menu, nav{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
	font-size: 14px;
	font-family: "arial";
}
a{
	text-decoration: none;
	color: #333333;
}
img{
	display: block;
}

.banner{
	margin-top: 50px;
}
.content{
	position: absolute;
	left: center;
	top: center;
}